<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sentinelai.tak.plugin">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SentinelAI">

        <activity
            android:name="com.sentinelai.tak.plugin.SentinelSettingsActivity"
            android:exported="false"
            android:label="@string/sentinel_settings_title" />

        <activity
            android:name="com.sentinelai.tak.plugin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
